body {
  background-color: lightgrey;
}

h1 {

}

h2 {

}

h3 {
  padding: 0%;
  margin: 0%;
}

.app-container {
  width: 1200px;
  margin: 0 auto;

}

.body-container {
  margin: 0 auto;
}

.component-box {
  background-color: white;
  border: solid 1px gray;
  padding: 1%;
}

.header-container {
  
}

input {
  width: 99%;
  margin: 0 auto;
}

.results-container {
  width: 45%;
}

.results-list {

}

.result-list-item {
  
}

.nominations-container {
  width: 45%;
}